# Data Science Tools and ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

*Objectives:*
* This notebook talks about some popular languages in data science.
* Some commolnly used libraries in data science.
* Also it consists of some basic execution of arthimetic expressions using python.
* Basically it is a summary of jupyter notebook learned so far in the course.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL(Structured Query Language)

#Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#   This a simple arithmetic expression to mutiply then add integers
num1 = 3
num2 = 4
num3 = 5
result=(3*4)+5
print(result)

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60.
min = 200
hours = min/60
print(hours)

3.3333333333333335

## Author
Chetan Prakash